<h2 class="page-header">Performance Statistics</h2>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="full-circle"><div class="stat-value">124</div></div>
        <i class="fa fa-users fa-2x"></i>&nbsp;&nbsp;<span>Meetings Held Today</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">

        <div class="full-circle"><div class="stat-value">2105</div></div>
        <i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;<span>Emails Sent Today</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="full-circle"><div class="stat-value">4</div></div>
        <i class="fa fa-check fa-2x"></i>&nbsp;&nbsp;<span>Avg Meting Rating Today</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="full-circle"><div class="stat-value">3</div></div>
        <i class="fa fa-thumbs-up fa-2x"></i>&nbsp;&nbsp;<span>Avg Morale Rating Today</span>
    </div>
</div>

<!--<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-user">&nbsp;</span>Meetings Held Today&nbsp;<span-->
        <!--class="badge badge-info">124</span></span></h4></div>-->
<!--<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-envelope">&nbsp;</span>Emails Sent Today&nbsp;<span-->
        <!--class="badge badge-info">2105</span></span></h4></div>-->
<!--<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-check">&nbsp;</span>Avg Meeting Rating Today&nbsp;<span-->
        <!--class="badge badge-info">4</span></span></h4></div>-->
<!--<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Avg Morale Rating Today&nbsp;<span-->
        <!--class="badge badge-info">3</span></span></h4></div>-->