<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-user">&nbsp;</span>Meetings Held Today&nbsp;<span
        class="badge badge-info">124</span></span></h4></div>
<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-envelope">&nbsp;</span>Emails Sent Today&nbsp;<span
        class="badge badge-info">2105</span></span></h4></div>
<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-check">&nbsp;</span>Avg Meeting Rating Today&nbsp;<span
        class="badge badge-info">4</span></span></h4></div>
<div class="col-lg-3 text-center"><h4><span class="label label-primary"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Avg Morale Rating Today&nbsp;<span
        class="badge badge-info">3</span></span></h4></div>