<div class="container">
    <div class="tabbable" ng-init="main.active.tab = 'overview'">
        <ul class="nav nav-tabs nav-justified">
            <li ng-class="{active: main.active.tab == 'overview'}">
                <a ng-click='main.active.tab = "overview"'>Overview</a>
            </li>
            <li ng-class="{active: main.active.tab == 'meeting'}">
                <a ng-click='main.active.tab = "meeting"'>Meeting</a>
            </li>
            <li ng-class="{active: main.active.tab == 'email'}">
                <a ng-click='main.active.tab = "email"'>Email</a>
            </li>
            <li ng-class="{active: main.active.tab == 'morale'}">
                <a ng-click='main.active.tab = "morale"'>Morale</a>
            </li>
        </ul>
        <div class="tab-content panel">
            <div ng-switch='main.active.tab'>
                <div ng-switch-when='overview'>
                    <div ng-include='"/views/tabs/overview.html"'></div>
                </div>
                <div ng-switch-when='meeting'>
                    <div ng-include='"/views/tabs/meeting.html"'></div>
                </div>
                <div ng-switch-when='email'>
                    <div ng-include='"/views/tabs/email.html"'></div>
                </div>
                <div ng-switch-when='morale'>
                    <div ng-include='"/views/tabs/morale.html"'></div>
                </div>
            </div>
        </div>
    </div>
</div>