<div class="tab-pane">
    <div class="well well-sm">
        <div class="container-fluid">
            <div ng-include='"/views/stats.html"'></div>
            <div class="col-md-6 panel" ng-controller="lineCtrl">
                <div class="panel-heading">Daily Total Meeting Costs</div>
                <canvas id="line1" class="chart chart-line panel-body" data="dailyMeetingCostsData"
                        labels="dailyMeetingCostsLabels" series="dailyMeetingCostsSeries"></canvas>
            </div>
            <div class="col-md-6 panel" ng-controller="lineCtrl">
                <div class="panel-heading">Daily Productivity Rating</div>
                <canvas id="line2" class="chart chart-bar panel-body" data="dailyProductivityRatingData"
                        labels="dailyProductivityRatingLabels" series="dailyProductivityRatingSeries"></canvas>
            </div>
            <div class="col-md-6 panel" ng-controller="lineCtrl">
                <div class="panel-heading">Daily Average Meeting Costs</div>
                <canvas id="line3" class="chart chart-line panel-body" data="dailyAverageMeetingCostsData"
                        labels="dailyAverageMeetingCostsLabels" series="dailyAverageMeetingCostsSeries"></canvas>
            </div>
            <div class="col-md-6 panel" ng-controller="lineCtrl">
                <div class="panel-heading">Daily Average Meeting Size</div>
                <canvas id="line4" class="chart chart-line panel-body" data="dailyAverageMeetingSizeData"
                        labels="dailyAverageMeetingSizeLabels" series="dailyAverageMeetingSizeSeries"></canvas>
            </div>
        </div>
    </div>
</div>