<div class="tab-pane">
    <div class="well well-sm">
        <div class="container-fluid">
            <div ng-include='"/views/stats.html"'></div>
            <div class="col-md-6 panel" ng-controller="dailyTotalMeetingCostsChartCtrl">
                <div class="panel-heading">Daily Total Meeting Costs</div>
                <div class="panel-body"><div><canvas id="dailyTotalMeetingCostsChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyTotalMeetingCostsChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyProductivityRatingChartCtrl">
                <div class="panel-heading">Daily Productivity Rating</div>
                <div class="panel-body"><div><canvas id="dailyProductivityRatingChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyProductivityRatingChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyAverageMeetingCostsChartCtrl">
                <div class="panel-heading">Daily Average Meeting Costs</div>
                <div class="panel-body"><div><canvas id="dailyAverageMeetingCostsChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyAverageMeetingCostsChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyAverageMeetingSizeChartCtrl">
                <div class="panel-heading">Daily Average Meeting Size</div>
                <div class="panel-body"><div><canvas id="dailyAverageMeetingSizeChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyAverageMeetingSizeChartLegend"></div>
            </div>
        </div>
    </div>
</div>