<div class="tab-pane">
    <div class="well well-sm">
        <div class="container-fluid">
            <div ng-include='"/views/stats.html"'></div>
            <div class="col-md-6 panel" ng-controller="overallMoraleRatingChartCtrl">
                <div class="panel-heading">Overall Morale Rating</div>
                <div class="panel-body"><div><canvas id="overallMoraleRatingChart"></canvas></div></div>
                <div class="panel-body text-center" id="overallMoraleRatingChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyProductivityRatingChartCtrl">
                <div class="panel-heading">Daily Productivity Rating</div>
                <div class="panel-body"><div><canvas id="dailyProductivityRatingChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyProductivityRatingChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyMoraleRatingChartCtrl">
                <div class="panel-heading">Daily Morale Rating</div>
                <div class="panel-body"><div><canvas id="dailyMoraleRatingChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyMoraleRatingChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyCountOfEmailsReadOutsideOfWorkChartCtrl">
                <div class="panel-heading">Daily Count of Emails Read Outside of Work</div>
                <div class="panel-body"><div><canvas id="dailyCountOfEmailsReadOutsideOfWorkChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyCountOfEmailsReadOutsideOfWorkChartLegend"></div>
            </div>
        </div>
    </div>
</div>