<div class="tab-pane">
    <div class="well well-sm">
        <div class="container-fluid">
            <div ng-include='"/views/stats.html"'></div>
            <div class="col-md-6 panel" ng-controller="dailyTotalMeetingCostsChartCtrl">
                <div class="panel-heading">Daily Total Meeting Costs</div>
                <div class="panel-body"><div><canvas id="dailyTotalMeetingCostsChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyTotalMeetingCostsChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyProductivityRatingChartCtrl">
                <div class="panel-heading">Daily Productivity Rating</div>
                <div class="panel-body"><div><canvas id="dailyProductivityRatingChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyProductivityRatingChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyEmailCountByTypeChartCtrl">
                <div class="panel-heading">Daily Email Count by Type</div>
                <div class="panel-body"><div><canvas id="dailyEmailCountByTypeChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyEmailCountByTypeChartLegend"></div>
            </div>
            <div class="col-md-6 panel" ng-controller="dailyMoraleRatingChartCtrl">
                <div class="panel-heading">Daily Morale Rating</div>
                <div class="panel-body"><div><canvas id="dailyMoraleRatingChart"></canvas></div></div>
                <div class="panel-body text-center" id="dailyMoraleRatingChartLegend"></div>
            </div>
        </div>
    </div>
</div>