<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/app.css"/>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/chartjs/Chart.js"></script>
    <script src="/Chart.StackedBar.js/src/Chart.StackedBar.js"></script>
    <script src="/Chart.js.legend/legend.js"></script>
</head>
<body ng-app="dashboardApp">
<div ng-include src="'/views/header.html'"></div>
<div ng-view></div>
<div ng-include src="'/views/footer.html'"></div>
<script src="/app.js"></script>
</body>
</html>